.dashboard{
    width:auto;
    height:60vh;
    padding-top: 20px;
    border: 2px solid red;
    margin: auto;
    padding : 100px 0;
}
.scroll{
    margin-top:50px;
    
    height:350px;
    overflow: hidden;
    width:100%;
    text-align: center;
    
}
.scroll p{
    
    width:40%;
    border:2px solid blue;
    margin :2px 2px;
    height: 140px;
}