
.form-container
{
    width:100%;
    padding-top:40px;
   
    background-size: cover;
    opacity: 0.7;
}
.search-form{
   /* border:1px solid green; */
   margin: 0 auto;
   text-align: center;
   width:75%;
   
}
.search-form input[type=text]{
   height:100%; 
   border-radius:2px;
  
   width:50%;
   font-size: 30px;
   /* border:1px solid red; */
   transition: border .3s ease-in-out;
   margin-right:5px;
   display: inline-block;
   padding: 1px 2px;
   
}
.search-form input[type=text]:hover{  
    
    border: 2px solid #0CD2E8;
   
 }
.search-form button{
    height: 100%;
    width:30px;
    border:none;
   display: inline-block;
   font-size: 30px;
   padding-bottom: 2px;
   background: none;
   
}
.search-form button:hover{
    color:red;
}
